*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #0011ff;
    color: #fff;
}
.game{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.h1 {
    background-color: black;
    height: 100px;
     width: 100%;
     line-height:2;
}

.score{
    display: flex;
    width: 30vw;
    justify-content: space-evenly;
    position: absolute;
    top: 70px;
    z-index: 1;
}
.p-count,.c-count{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}
.options{
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
    margin-top: 2rem;
}
.rock, .paper, .scissor, .stapler, .staple_remover{
    padding: 0.8rem;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: rgb(255, 72, 0);
    outline: none;
    border-color: rgb(255, 72, 0);
    border: none;
    cursor: pointer;
}
.move{
    font-size: 2rem;
    font-weight: bold;
}
.reload {
    display: none;
    margin-top: 2rem;
    padding: 1rem;
    background: rgb(206, 24, 24);
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.result{
    margin-top: 20px;
    font-size: 1.2rem;
}
@media screen and (max-width: 612px) { 
    .h1{
        text-align: center;
    }
    .score{
        position: absolute;
        top: 200px;
        width: 100vw;
    }
    .options{
        width: 100vw;
    }
}